
<div class="flex items-center justify-center ">

  <table class="table-auto border border-spacing-2 border-slate-500 drop-shadow-lg w-screen m-8 ">
    <thead class="bg-customPurple">
      <tr>
        <th class="border border-slate-900 p-2">ID</th>
        <th class="border border-slate-900 p-2">Name</th>
        <th class="border border-slate-900 p-2">Workouts</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="border border-slate-900 p-2" >{{ user.id }}</td>
        <td class="border border-slate-900 p-2">{{ user.name }}</td>
        <td class="border border-slate-900 p-2">
          <ul>
            <li *ngFor="let workout of user.workouts">
              {{ workout.type }} - {{ workout.minutes }} minutes
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<mat-paginator [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
aria-label="Select page">

</mat-paginator>
